@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fix for Leaflet Maps */
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 0;
}

body {
  background-color: #f3f4f6;
  font-family: sans-serif;
}